<div class="container">
<div class="row">
 <div class="col-md-5">
<h1 class="mt-3"><i class="fa-solid fa-user-pen"></i></h1>
<p><%=@user.name %>
<%=image_tag @user.get_profile_image(50,50) %>
<span id="wcount">follow:<%=link_to @user.followings.count,user_followings_path(@user) %></span>
<span id="wercount">follower:<%=link_to @user.followers.count,user_followers_path(@user) %></span></p>
<p><%=@user.introduction %></p>
<% if @user==current_user %>
<p><%=link_to edit_user_path(@user),class: "btn btn-outline-secondary" do %>
<i class="fa-solid fa-user-gear"></i>
<% end %>
<% else %>
<p id="follow<%=@user.id%>">
  <%=render "relationships/relationship",user: @user %>
<% end %>

<% if current_user!=@user&&current_user.following?(@user)&&@user.following?(current_user) %>
<%=link_to "chat",chat_path(@user.id),class: "btn btn-outline-info" %>
<% end %>
</p>
</div>
</div>
<div class="row">
<% @posts.each do |post| %>
<div class="col-md-2">
<div class="card h-100">
  <div class="card-header"><i class="fa-solid fa-utensils"></i> <%=post.name %>
  <% if post.user==current_user %>
  <%=link_to "削除",post_path(post),method: :delete,class: "btn btn-danger btn-sm ms-2" %>
  <% end %>
  </div>
<%=image_tag post.get_image(100,100),class: "card-image-top" %>
<div class="card-text">
<p><span id="favorite<%=post.id %>"><%=render "favorites/favorite",post: post %></span>
<i class="fa-regular fa-pen-to-square"></i><span class="count"><%=post.comments.count %></span></p>
<%=post.caption %>
</div>
</div>
</div>
<% end %>

</div>
</div>
