<% if @model=="user" %>

<h3 class="mt-3">user search for <%=@word %></h3>
<table class="table table-border-bottom">
<tr>
<th>user</th>
<th>introduction</th>
<th>image</th>
</tr>
<% @users.each do |user| %>
<tr>
<td><%=link_to user.name,user_path(user) %></td>
<td><%=user.introduction %></td>
<td><%=image_tag user.get_profile_image(50,50) %></td>
</tr>
<% end %>
</table>
<% else %>
<h3>post search for <%=@word %></h3>
<table class="table table-border-bottom">
<tr>
<th>post</th>
<th>caption</th>
<th>image</th>
</tr>
<tr>
<% @posts.each do |post| %>
<td><%=link_to post.name,post_path(post) %></td>
<td><%=post.caption %></td>
<td><%=image_tag post.get_image(50,50) %></td>
</tr>
<% end %>
</table>
<% end %>