<div class="container">
  <div class="row">
    <div class="col-md-7">

<table class="table table-border-bottom mt-3">
<tr>
  <th class="mx-3">dish</th>
  <th class="mx-3">caption</th>
  <th class="mx-3">image</th>
</tr>
<tr><% @posts.each do |post| %>
<td class="mx-3"><%=link_to post.name,post_path(post)%></td>
<td class="mx-3"><%=post.caption %></td>
<td class="mx-3"><%=image_tag post.get_image(50,50) %>
<p><span id="favorite<%=post.id %>"> <%=render "favorites/favorite",post: post %></span>
<i class="fa-regular fa-pen-to-square"></i><span class="count"><%=post.comments.count %></span></p></td>

</tr>
<% end %>
</table>
</div>

<div class="col-md-4 offset-md-1">
  <%=render 'posts/new',post: @post %>
</div>
</div>
</div>
<%=paginate @posts %>